<div>
  <h2> Incident {{incident?.id}} details: </h2>

  <p> <span>ID: </span> {{incident?.id}}</p>
  <p> <span>Titre:</span> {{incident?.titre}}</p>
  <p> <span>Email:</span> {{incident?.email}}</p>
  <p> <span>Description:</span> {{incident?.description}}</p>
  <p> <span>Level:</span> {{incident?.level}}</p>
  <p> <span>Type:</span> {{incident?.type}}</p>
  <p> <span>Progress:</span> {{incident?.progress}}</p>
  <p> <span>Date Creation:</span> {{incident?.dateCreation}}</p>
  <p> <span>Date Modification:</span> {{incident?.dateModification}}</p>

  <h5>Progress:</h5>

  <p id="progressBar">
    <ngb-progressbar type="info" [value]="incident.progress"></ngb-progressbar>
  </p>
  <button (click)="delete()"> Delete l'incident</button>
</div>
