<h2> Incident {{incident?.id}} details: </h2>

<p>ID: {{incident?.id}}</p>
<p>Titre: {{incident?.titre}}</p>
<p>Email: {{incident?.email}}</p>
<p>Description: {{incident?.description}}</p>
<p>Level: {{incident?.level}}</p>
<p>Type: {{incident?.type}}</p>
<p>Progress: {{incident?.progress}}</p>
<p>Date Creation: {{incident?.dateCreation}}</p>
<p>Date Modification: {{incident?.dateModification}}</p>
<h5>Progress:</h5>
<p>
  <ngb-progressbar type="info" [value]="incident.progress"></ngb-progressbar>
</p>
<button (click)="delete()"> Delete l'incident</button>
